## <center>Методи та технології аналітики даних</center>
## <center>Лабораторна робота №8</center>
#### <center>ФБ-25 Кравченко Максим</center>

In [62]:
import pandas as pd
from statsmodels.stats.proportion import proportions_ztest

In [63]:
file_name = r'..\Dataset\adult_cleaned.data'
headers = ['Age', 'Work_class', 'Final_weight', 'Education', 'Education_num', 'Marital_status',
           'Occupation', 'Relationship', 'Race', 'Sex', 'Capital_gain', 'Capital_loss',
           'Hours_per_week', 'Native_country', 'Income']
df = pd.read_csv(file_name, sep=",", header=1, names=headers, na_values='?')
df

,Age,Work_class,Final_weight,Education,Education_num,Marital_status,Occupation,Relationship,Race,Sex,Capital_gain,Capital_loss,Hours_per_week,Native_country,Income
0,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
1,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
2,37,Private,284582,Masters,14,Married-civ-spouse,Exec-managerial,Wife,White,Female,0,0,40,United-States,<=50K
3,49,Private,160187,9th,5,Married-spouse-absent,Other-service,Not-in-family,Black,Female,0,0,16,Jamaica,<=50K
4,52,Self-emp-not-inc,209642,HS-grad,9,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,45,United-States,>50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
30154,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
30155,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
30156,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
30157,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K
30158,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

In [64]:
print(df['Income'].unique())

['<=50K' '>50K']

Генеруємо випадкову вибірку з датасету

In [65]:
random_df = df.sample(frac=0.4, random_state=42)

Розділяємо на групи

In [66]:
group_A = df[df['Hours_per_week'] <= 30]
group_B = df[df['Hours_per_week'] > 30]
# Рандомна вибірка
random_group_A = random_df[random_df['Hours_per_week'] <= 30]
random_group_B = random_df[random_df['Hours_per_week'] > 30]

Обчислюємо метрики, щоб оцінити харктеристики кожної з груп та зробити порівняння

In [67]:
mean_income_A = group_A['Income'].value_counts(normalize=True)['>50K']
mean_income_B = group_B['Income'].value_counts(normalize=True)['>50K']
avg_education_A = group_A['Education_num'].mean()
avg_education_B = group_B['Education_num'].mean()
# Рандомна вибірка
mean_income_random_A = random_group_A['Income'].value_counts(normalize=True)['>50K']
mean_income_random_B = random_group_B['Income'].value_counts(normalize=True)['>50K']
avg_education_random_A = random_group_A['Education_num'].mean()
avg_education_random_B = random_group_B['Education_num'].mean()

Робимо статистичний тест на пропорції

In [68]:
count_main = [
    group_A['Income'].value_counts()['>50K'],
    group_B['Income'].value_counts()['>50K']
]
nobs_main = [len(group_A), len(group_B)]
z_stat_main, p_value_main = proportions_ztest(count_main, nobs_main)
# Рандомна вибірка
count_random = [
    random_group_A['Income'].value_counts()['>50K'],
    random_group_B['Income'].value_counts()['>50K']
]
nobs_random = [len(random_group_A), len(random_group_B)]
z_stat_random, p_value_random = proportions_ztest(count_random, nobs_random)

Виведення результатів:

In [69]:
print("Метрики для основної вибірки:")
print(f"Частка доходу >50K у групі A: {mean_income_A:.2f}")
print(f"Частка доходу >50K у групі B: {mean_income_B:.2f}")
print(f"Середній рівень освіти у групі A: {avg_education_A:.2f}")
print(f"Середній рівень освіти у групі B: {avg_education_B:.2f}")

print("\nМетрики для рандомної вибірки:")
print(f"Частка доходу >50K у групі A: {mean_income_random_A:.2f}")
print(f"Частка доходу >50K у групі B: {mean_income_random_B:.2f}")
print(f"Середній рівень освіти у групі A: {avg_education_random_A:.2f}")
print(f"Середній рівень освіти у групі B: {avg_education_random_B:.2f}")

print("\nРезультати статистичного тесту для основної вибірки:")
print(f"z-статистика: {z_stat_main:.2f}")
print(f"p-значення: {p_value_main:.4f}")

print("\nРезультати статистичного тесту для рандомної вибірки:")
print(f"z-статистика: {z_stat_random:.2f}")
print(f"p-значення: {p_value_random:.4f}")

# Критерій успіху
alpha = 0.05
if p_value_main < alpha:
    print("\nВідхиляємо нульову гіпотезу для основної вибірки: частка доходу >50K у групах значущо різна.")
else:
    print("\nНе відхиляємо нульову гіпотезу для основної вибірки: частка доходу >50K у групах незначущо різна.")

if p_value_random < alpha:
    print("\nВідхиляємо нульову гіпотезу для рандомної вибірки: частка доходу >50K у групах значущо різна.")
else:
    print("\nНе відхиляємо нульову гіпотезу для рандомної вибірки: частка доходу >50K у групах незначущо різна.")

Метрики для основної вибірки:
Частка доходу >50K у групі A: 0.07
Частка доходу >50K у групі B: 0.28
Середній рівень освіти у групі A: 9.48
Середній рівень освіти у групі B: 10.23

Метрики для рандомної вибірки:
Частка доходу >50K у групі A: 0.06
Частка доходу >50K у групі B: 0.28
Середній рівень освіти у групі A: 9.45
Середній рівень освіти у групі B: 10.21

Результати статистичного тесту для основної вибірки:
z-статистика: -30.30
p-значення: 0.0000

Результати статистичного тесту для рандомної вибірки:
z-статистика: -19.66
p-значення: 0.0000

Відхиляємо нульову гіпотезу для основної вибірки: частка доходу >50K у групах значущо різна.

Відхиляємо нульову гіпотезу для рандомної вибірки: частка доходу >50K у групах значущо різна.